.interface>section {
    display: flex;
    flex-direction: row;
}

.list {
    height: 380px;
    overflow: auto;
}


.recherche>form>div, .details form>div {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.recherche>form>div>label{
    margin-right: 20px;
}

.recherche input[type="text"]{
    width: 230px !important;
}

select{
	padding: 5px 20px;
}

.list ul{
	max-height: 270px;
	overflow: auto;
}

.list li{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
	padding: 7px 7px;
	margin: 2px 0;
	background-color: #5b5b5b7a;
	border-radius: var(--border-norm);
}
.list li *{
	padding: 0 10px;
	text-decoration: none;
}


.operationlist{
    max-height: 300px;
    width: 100%;
}

.consulter{
    background-color: #000000a0;
    padding: 5px 8px !important;
    border-radius: var(--border-norm);
}